.searchContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 200px;
}

.input {
  width: 192px;
}

.button {
  position: absolute;
  top: 60px;
  width: 100%;
  height: 100px;
}

.error {
  color: red;
  margin-bottom: -45px;
}

@media (max-width: 767px) {
  .resultsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .movieContainer {
    display: flex;
    gap: 20px;
    margin: 20px auto;
  }
  
  .imageContainer {
    height: 115px;
    width: 75px;
    overflow: hidden;
  }
  
  .resultImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .movieInfo {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 5px;
  }
  
  .movieInfo > span:first-child {
    font-weight: bold;
  }
  
  .movieInfo > span:nth-child(2) {
    opacity: 0.5;
  }
  
  .movieInfoYear {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .resultsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 2100px;
    margin: 20px auto;
    padding: 20px;
  }

  .movieContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .movieInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }

  .movieInfo > span:first-child {
    font-weight: bold;
  }

  .movieInfo > span:nth-child(2) {
    opacity: 0.5;
  }

  .movieInfo > button {
    margin: 10px auto 0 auto;
    width: 200px;
    height: 50px;
  }

  .imageContainer {
    height: 250px;
    width: 165px;
    overflow: hidden;
  }

  .resultImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}